<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.house.estate.mapper.HLandlordMapper" >
  <resultMap id="BaseResultMap" type="com.house.common.entity.estate.HLandlord" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="landlord" property="landlord" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="community" property="community" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="del" property="del" jdbcType="INTEGER" />
    <result column="modifiedDate" property="modifiedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, landlord, phone, address, community, status, del, modifiedDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from h_landlord
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from h_landlord
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.house.common.entity.estate.HLandlord" >
    insert into h_landlord (id, landlord, phone, 
      address, community, status,
      del,modifiedDate)
    values (#{id,jdbcType=VARCHAR}, #{landlord,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{community,jdbcType=VARCHAR}, #{status,jdbcType=CHAR},
      #{del,jdbcType=INTEGER}, #{modifiedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.house.common.entity.estate.HLandlord" >
    insert into h_landlord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="landlord != null" >
        landlord,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="community != null" >
        community,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="del != null" >
        del,
      </if>
      <if test="modifiedDate != null" >
        modifiedDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="landlord != null" >
        #{landlord,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="community != null" >
        #{community,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="del != null" >
        #{del,jdbcType=BIT},
      </if>
      <if test="modifiedDate != null" >
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.house.common.entity.estate.HLandlord" >
    update h_landlord
    <set >
      <if test="landlord != null" >
        landlord = #{landlord,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="community != null" >
        community = #{community,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="del != null" >
        del = #{del,jdbcType=INTEGER},
      </if>
      <if test="modifiedDate != null" >
        modifiedDate = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.house.common.entity.estate.HLandlord" >
    update h_landlord
    set landlord = #{landlord,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      community = #{community,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      del = #{del,jdbcType=INTEGER},
      modifiedDate = #{modifiedDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <select id="findHLandlordList" resultType="com.house.common.entity.estate.HLandlord" parameterType="java.util.Map">
    select
      id,
      landlord,
      phone,
      address,
      community,
      status,
      del,
      modifiedDate
    from h_landlord
    where del = 0
    <if test="value != null and value != '' ">
       and ( phone like "%"#{value}"%" or community like "%"#{value}"%"
      or landlord like "%"#{value}"%" )
    </if>
    <if test="status != null and status != '' ">
      and status = #{status}
    </if>
    order by modifiedDate desc
  </select>
</mapper>